GOOGLE_API_KEY=put-your-gemini-key-here
QDRANT_URL=your-qdrant-url-here
MODEL_STRATEGY=local
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=your_langsmith_api_key
LANGCHAIN_PROJECT=your-langchain-project
